aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
azure-ai-generative==1.0.0b7
azure-ai-ml==1.13.0
azure-ai-resources==1.0.0b7
azure-common==1.1.28
azure-core==1.30.0
azure-identity==1.15.0
azure-keyvault==4.2.0
azure-keyvault-certificates==4.7.0
azure-keyvault-keys==4.8.0
azure-keyvault-secrets==4.7.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==22.0.0
azure-search-documents==11.4.0b11
azure-storage-blob==12.19.0
azure-storage-file-datalake==12.14.0
azure-storage-file-share==12.15.0
azureml-dataprep==5.1.6
azureml-dataprep-native==41.0.0
azureml-dataprep-rslex==2.22.2
azureml-fsspec==1.3.1
azureml-metrics==0.0.45
azureml-mlflow==1.55.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
cryptography==41.0.7
dataclasses-json==0.6.4
dataclasses-json-speakeasy==0.5.11
datasets==2.17.1
deprecated==1.2.14
dill==0.3.8
distro==1.9.0
dnspython==2.6.1
docutils==0.20.1
emoji==2.10.1
entrypoints==0.4
evaluate==0.4.1
exceptiongroup==1.2.0
filelock==3.13.1
filetype==1.2.0
flask==3.0.2
flask-restx==1.3.0
frozenlist==1.4.1
fsspec==2023.10.0
gitdb==4.0.11
gitpython==3.1.42
google-api-core==2.17.1
google-auth==2.28.1
google-search-results==2.4.1
googleapis-common-protos==1.62.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.20.3
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
isodate==0.6.1
itsdangerous==2.1.2
jaraco-classes==3.3.1
jeepney==0.8.0
jinja2==3.1.3
joblib==1.3.2
jsonpath-python==1.0.6
jsonpickle==3.0.3
jsonschema==4.21.1
jsonschema-path==0.3.2
jsonschema-spec==0.2.4
jsonschema-specifications==2023.7.1
keyring==24.3.0
langdetect==1.0.9
lazy-object-proxy==1.10.0
lxml==5.1.0
markdown==3.5.2
markupsafe==2.1.5
marshmallow==3.20.2
mlflow-skinny==2.10.2
mmh3==4.1.0
more-itertools==10.2.0
motor==3.3.2
msal==1.26.0
msal-extensions==1.1.0
msrest==0.7.1
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.6.0
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.12.0
openapi-core==0.18.2
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
packaging==23.2
pandas==2.2.0
parse==1.20.1
pathable==0.4.3
pillow==10.2.0
portalocker==2.8.2
prance==23.6.21.0
promptflow==1.5.0
promptflow-sdk==0.0.1
promptflow-tools==1.2.0
protobuf==4.25.3
psutil==5.9.8
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.6.1
pydantic-core==2.16.2
pydash==7.0.5
pyjwt==2.8.0
pymongo==4.6.2
pypdf==3.17.4
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2024.2.7
python-magic==0.4.27
pytz==2023.4
pyyaml==6.0.1
rapidfuzz==3.6.1
referencing==0.30.2
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rpds-py==0.18.0
rsa==4.9
rtoml==0.9.0
ruamel-yaml==0.18.6
ruamel-yaml-clib==0.2.8
secretstorage==3.3.3
semantic-kernel==0.5.1.dev0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
sqlalchemy==2.0.27
sqlparse==0.4.4
strictyaml==1.7.3
tabulate==0.9.0
tenacity==8.2.3
tika==2.6.0
tiktoken==0.6.0
tqdm==4.66.2
typing-extensions==4.9.0
typing-inspect==0.9.0
tzdata==2024.1
unstructured==0.12.4
unstructured-client==0.18.0
urllib3==2.2.1
waitress==2.1.2
werkzeug==3.0.1
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
